/target
**/*.rs.bk
Cargo.lock
api_samples/
.idea/
/.direnv
.envrc
mutants.out/
mutants.out.old/

/templates/release_scripts/enum.txt
/templates/release_scripts/name.txt
/templates/release_scripts/code.txt